In [1]:
import numpy as np
import pandas as pd
import math as math
import cmath as cmath
from scipy import integrate

In [2]:
r = 0
s0 = K = 2.0
t_max = 1.0
v0 = 0.010201
sigma = 0.61
theta = 0.019
kappa = 6.21

rho = -0.6
#rho_choice = np.array([-0.5, -0.7, -0.9])
#rho_probability = np.array([0.25, 0.5, 0.25])

T1 = 10

In [3]:
df = pd.read_csv("data.csv")
df = df.drop('Unnamed: 0', axis=1)

df.head()

      price     stock  maturity
0  0.000000  2.035873       0.5
1  0.133383  2.049620       0.5
2  0.091578  1.915976       0.5
3  0.317487  2.010661       0.5
4  0.142101  2.027230       0.5

We suppose t =0
stratus 1 or 2

In [4]:
# characteristic function
def f(phi, kappa, theta, sigma, rho, v0, r, T, s0, status):
    
    a = kappa * theta
    x = math.log(s0)
    
    # remind that lamda is zero
    if status == 1:
        u = 0.5
        b = kappa - rho * sigma
    else:
        u = -0.5
        b = kappa
    
    d = cmath.sqrt((rho * sigma * phi * 1j - b)**2 - sigma**2 * (2 * u * phi * 1j - phi**2))
    g = (b - rho * sigma * phi * 1j + d) / (b - rho * sigma * phi * 1j - d)
    
    C = r * phi * 1j * T + (a / sigma**2)*((b - rho * sigma * phi * 1j + d) * T - 2 * cmath.log((1 - g * cmath.exp(d * T))/(1 - g)))
    D = (b - rho * sigma * phi * 1j + d) / sigma**2 * ((1 - cmath.exp(d * T)) / (1 - g * cmath.exp(d * T)))
    
    return cmath.exp(C + D * v0 + 1j * phi * x)

In [5]:
# P1 and P2
def p(kappa, theta, sigma, rho, v0 ,r ,T ,s0 , K, status):
    
    
    integrand = lambda phi: (cmath.exp(-1j * phi * cmath.log(K)) * f(phi, kappa, \
                              theta, sigma, rho, v0, r, T, s0, status) / (1j * phi)).real 
    
    return (0.5 + (1 / math.pi) * integrate.quad(integrand, 0, 100)[0]) # approximate indefinite intergral with a definite one

def p1(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K):
    return p(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K, 1)

def p2(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K):
    return p(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K, 2)

In [6]:
# call price
def call_price(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K):
    
    P1 = p1(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K)
    P2 = p2(kappa, theta, sigma, rho, v0 ,r ,T ,s0 ,K)
    return (s0 * P1 - K * math.exp(-r * T) * P2)

In [7]:
#df['price_sol'] = call_price(kappa, theta, sigma, rho, v0 ,r , df['maturity'], df['stock'] ,K)

In [12]:
df['price_sol'] = df.head(10).apply(lambda x: call_price(kappa, theta, sigma, rho, v0 ,r , x['maturity'], x['stock'] ,K), axis=1)

In [13]:
df.head(10)

      price     stock  maturity  new_column_name  price_sol
0  0.000000  2.035873       0.5         0.088994   0.088994
1  0.133383  2.049620       0.5         0.098482   0.098482
2  0.091578  1.915976       0.5         0.026186   0.026186
3  0.317487  2.010661       0.5         0.072639   0.072639
4  0.142101  2.027230       0.5         0.083229   0.083229
5  0.025005  2.036091       0.5         0.089142   0.089142
6  0.147151  2.039628       0.5         0.091548   0.091548
7  0.000000  2.035279       0.5         0.088593   0.088593
8  0.000000  1.991090       0.5         0.060979   0.060979
9  0.303281  1.995627       0.5         0.063596   0.063596

In [25]:
call_price(kappa, theta, sigma, rho, v0 ,r ,0.5 ,s0 ,K)

0.06616807769237942